backend/n8n_backup.json
{"createdAt":"2024-09-19T02:36:43.326Z","updatedAt":"2024-09-19T13:30:00.000Z","id":"QGiCS9axxLbumwGw","name":"CLIa","active":true,"nodes":[{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro-exp-0827:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"contents","value":"={{ $json.messages }}"},{"name":"generationConfig","value":"={{ $json.generationConfig }}"}]},"options":{}},"id":"6a5ae97d-df7f-4c56-8a79-09cb7adf9673","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1060,760],"credentials":{"googlePalmApi":{"id":"cPxSbNLkE6Ol6zrN","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  messages: $input.item.json.body['messages'],\n  generationConfig: {\n    temperature: 1,\n    topK: 64,\n    topP: 0.95,\n    maxOutputTokens: 8192,\n    responseMimeType: \"application/json\",\n    responseSchema: {\n      type: \"object\",\n      properties: {\n        response: {\n          type: \"string\"\n        },\n        search: {\n          type: \"array\",\n          \"items\": {\n            type: \"string\"\n          }\n        }\n      },\n      required: [\n        \"response\",\n        \"search\"\n      ]\n    }\n  }\n};"},"id":"d291d254-b717-4b4e-880d-2eebe3313a9d","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[780,700]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"return {\n  \"repo\": \"CLIa\",\n  \"owner\": \"FranciscoOssian\",\n  \"backUpBranchName\": \"n8nBackup\",          \n  \"basePath\":\"https://api.github.com/repos/FranciscoOssian/CLIa\"\n}"},"id":"697219b0-feaf-4c9e-bc1c-8364223f07bb","name":"DATA","type":"n8n-nodes-base.code","typeVersion":2,"position":[620,1060],"executeOnce":true,"retryOnFail":false},{"parameters":{"url":"={{ $json.basePath }}/branches/develop","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"}]},"options":{}},"id":"dba18217-9203-4fd3-950c-7e2e66e9d8fa","name":"Obter o SHA do Commit mais Recente","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,1240]},{"parameters":{"method":"POST","url":"={{ $('DATA').item.json.basePath }}/git/refs","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"ref","value":"=refs/heads/{{ $('DATA').item.json.backUpBranchName }}"},{"name":"sha","value":"={{ $json.commit.sha }}"}]},"options":{}},"id":"6d0b8aa0-e2e6-45e9-99b5-deb29469dde6","name":"Criar a Nova Branch","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,1040],"credentials":{"githubApi":{"id":"oIxg3zLy47DFHcUs","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"url":"={{ $('DATA').item.json.basePath }}/contents/backend/n8n_backup.json","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"ref","value":"={{ $('DATA').item.json.backUpBranchName }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"}]},"options":{}},"id":"772e3a1b-97d7-4b24-874a-854acb55bd99","name":"Obter SHA do Arquivo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,1220],"credentials":{"githubApi":{"id":"oIxg3zLy47DFHcUs","name":"GitHub account"}}},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"QGiCS9axxLbumwGw","mode":"list","cachedResultName":"CLIa (#QGiCS9axxLbumwGw)"},"requestOptions":{}},"id":"50202de1-d58a-4541-b1a5-382abf066832","name":"n8n1","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1000,1040],"credentials":{"n8nApi":{"id":"ggl7RbXlLa3zljoH","name":"n8n account"}}},{"parameters":{"content":"## Backup desse workflow no github","height":413.1727719166337,"width":1287.8366033036482},"id":"26d7d9a7-7d7d-4f0b-9602-f6afe9d98f23","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[580,980]},{"parameters":{"jsCode":"let output = {}; // Inicializa o objeto output\n\n// Itera sobre cada item de entrada\nfor (const item of $input.all()) {\n  // Codifica o item em Base64 e atribui ao objeto output\n  output.base64 = Buffer.from(JSON.stringify(item.json), 'utf-8').toString('base64');\n}\n\n// Retorna o objeto output com a codificação Base64\nreturn output;\n"},"id":"8c0c8fe1-1263-40c3-abb1-f5e0cda2a30a","name":"BASE64","type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,1220]},{"parameters":{"method":"PUT","url":"={{ $('DATA').item.json.basePath }}/contents/backend/n8n_backup.json","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"message","value":"Update file"},{"name":"branch","value":"={{ $('DATA').item.json.backUpBranchName }}"},{"name":"content","value":"={{ $json.base64 }}"},{"name":"sha","value":"={{ $('Obter SHA do Arquivo').item.json.sha }}"}]},"options":{}},"id":"917fce89-b9fd-4264-b35c-c507049e6ecf","name":"Atualizar arquivo remoto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1200,1040],"credentials":{"githubApi":{"id":"oIxg3zLy47DFHcUs","name":"GitHub account"}}},{"parameters":{"method":"POST","url":"=https://api.github.com/repos/{{ $('DATA').item.json.owner }}/{{ $('DATA').item.json.repo }}/pulls","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"title","value":"Updating N8N backup"},{"name":"body","value":"Automatically generated"},{"name":"head","value":"={{ $('DATA').item.json.backUpBranchName }}"},{"name":"base","value":"develop"}]},"options":{}},"id":"e2e61e80-2d53-444e-8bd6-8b052b5ee146","name":"Criar PR","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1220,1220],"credentials":{"githubApi":{"id":"oIxg3zLy47DFHcUs","name":"GitHub account"}}},{"parameters":{"assignments":{"assignments":[{"id":"172d8bbe-3a1a-4f77-b49d-3d1cabcd90fb","name":"","value":"","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"2bccfa01-dd26-4b07-ba81-906d703e8f89","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1400,1020]},{"parameters":{"method":"PUT","url":"=https://api.github.com/repos/{{ $('DATA').item.json.owner }}/{{ $('DATA').item.json.repo }}/pulls/{{ $json.number }}/merge","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"commit_title","value":"Merging N8N backup in dev"},{"name":"commit_message","value":"Merge in dev, backup of N8N"},{"name":"merge_method","value":"merge"}]},"options":{}},"id":"3798c5b4-e36d-460b-9457-a97ea745a867","name":"Aceita o PR","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1420,1200],"credentials":{"githubApi":{"id":"oIxg3zLy47DFHcUs","name":"GitHub account"}}},{"parameters":{"method":"DELETE","url":"=https://api.github.com/repos/{{ $('DATA').item.json.owner }}/{{ $('DATA').item.json.repo }}/git/refs/heads/{{ $('DATA').item.json.backUpBranchName }}","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/vnd.github.v3+json"}]},"options":{}},"id":"0e67dbd3-c553-49ed-bf3d-22e40068b60f","name":"HTTP Request1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1620,1040],"credentials":{"githubApi":{"id":"oIxg3zLy47DFHcUs","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"field":"seconds"}]}},"id":"61a663b6-ae03-4dab-8765-2d495f1e69fc","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[360,900]},{"parameters":{},"id":"0c073219-2181-4d2f-a59f-231cf09c0ddb","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[120,1060]},{"parameters":{"httpMethod":"POST","path":"chat","responseMode":"lastNode","options":{}},"id":"5bb7038c-e34d-43e8-a2b4-800535a7a259","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[500,660],"webhookId":"71dc5bb8-5216-487c-b8fb-2b96c5e6aa9d"}],"connections":{"Code":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"DATA":{"main":[[{"node":"Obter o SHA do Commit mais Recente","type":"main","index":0}]]},"Obter o SHA do Commit mais Recente":{"main":[[{"node":"Criar a Nova Branch","type":"main","index":0}]]},"Criar a Nova Branch":{"main":[[{"node":"Obter SHA do Arquivo","type":"main","index":0}]]},"Obter SHA do Arquivo":{"main":[[{"node":"n8n1","type":"main","index":0}]]},"n8n1":{"main":[[{"node":"BASE64","type":"main","index":0}]]},"BASE64":{"main":[[{"node":"Atualizar arquivo remoto","type":"main","index":0}]]},"Atualizar arquivo remoto":{"main":[[{"node":"Criar PR","type":"main","index":0}]]},"Criar PR":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Aceita o PR","type":"main","index":0}]]},"Aceita o PR":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"DATA","type":"main","index":0}]]},"When clicking ‘Test workflow’":{"main":[[{"node":"DATA","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f5bdcf75-1c6d-49a0-b72c-3b0714ad3b87","triggerCount":2,"shared":[{"createdAt":"2024-09-19T02:36:43.332Z","updatedAt":"2024-09-19T02:36:43.332Z","role":"workflow:owner","workflowId":"QGiCS9axxLbumwGw","projectId":"P9y9MFzNuGK94S2w","project":{"createdAt":"2024-09-19T02:18:19.603Z","updatedAt":"2024-09-19T02:27:39.002Z","id":"P9y9MFzNuGK94S2w","name":"FRANCISCO NETO <ossian.neto@gmail.com>","type":"personal","projectRelations":[{"createdAt":"2024-09-19T02:18:19.604Z","updatedAt":"2024-09-19T02:18:19.604Z","role":"project:personalOwner","userId":"67930119-a5fb-41fa-9e1c-4206734d308a","projectId":"P9y9MFzNuGK94S2w","user":{"createdAt":"2024-09-19T02:17:56.829Z","updatedAt":"2024-09-19T11:45:00.000Z","id":"67930119-a5fb-41fa-9e1c-4206734d308a","email":"ossian.neto@gmail.com","firstName":"FRANCISCO","lastName":"NETO","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2024-09-19T02:27:56.525Z","personalization_survey_n8n_version":"1.59.3"},"settings":{"userActivated":false},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false,"isOwner":true}}]}}],"tags":[]}